*{
    margin: 0%;
    padding: 0%;
}

.wrapper {
    height: 100vh;
    background: #EEEEEE;
    width: 100%
}

.overlay {
    width: 100%;
    height: 100vh;
    background: #EEEEEE
}

.contactos-form {
    margin-top: 50px;
    margin-bottom: 50px
}

.contact-form h3,
p {
    color: #393E46
}

.informacion-1 {
    margin-top: 14px !important;
    margin-left: 10px
}

.informacion-1 span {
    color: #222831
}

.icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFD369;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center
}

.icons i {
    font-size: 20px
}

.forms {
    padding: 20px
}

.inputs input {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #EEEE
}

.inputs input:focus {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #FFD369;
    box-shadow: none
}

.inputs textarea {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #EEEE;
    width: 100%;
    resize: none
}

.inputs textarea:focus {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #FFD369;
    box-shadow: none;
    resize: none
}

.form-control {
    padding: .375rem .25rem
}