.text-deco {
    text-decoration: underline;
}

.container1 {
    height: 100vh;
}
.h3__ul--color {
    color: $color4;
}

p {
    text-align: center;
    span {
        color: $color4;
    }
}

// Ofertas
    
.anim-ofer{
    transition: 0.8s all ease;
}

.anim-ofer img {
    max-width: 100%;
    border-radius: 0.375em;
    height: 25rem;

}

.anim-ofer:hover {
    transform: scale(1);
    transition: 0.8s all ease;
    box-shadow: 0rem 0em 0.3125em 0.0625em #373737;
    border-radius: 0.375em;
}

.anim-ofer a {
    text-decoration: none;
    color: $color2;
}

.video {
    border-radius: 0.375em;
}

//informacion 

.info-Lista a{
    text-decoration: none;
    text-align: center;
    color: $color4;
}

// iconos

nav i
 {
    color: $color1;
    margin: 0.3125em;
    font-size: 1.25em;
}

nav i:hover {
    color: $color5;
}

// Input
.button1 {
    font-family: $font3;
    margin-top: 43px;
    margin-left: 2px;
    padding-left: 30px;
    padding-right: 30px;
}


.btn-primary {
    border: none;
    background-color: $color5;
    color: $color1;
}

.btn-primary:hover{
    background-color: $color1;
    color: $color5;
}
.espacio {
    background-color: $color3;
    color: $color1;
    border: 1px solid $color6;
    border-radius: 8px;
    box-shadow: 0rem 0em 0.3125em 0.0625em $color2;
    font-family: $font3;
}

label {
    margin-top: 10px;
    margin-right: 10px;
}

//Condicionales 

$color: #393E46;

.quienes-Somos {
    @if ($color == #393E46) {
        color: #393E46;
        font-family: $font;
        
    }
    @else if ($color == yellow) {
        color: yellow;
    }
}

$color: white;

.info-Lista {
    @if ($color == black) {
        color: black;
    }
    @else if ($color == blue) {
        color: blue;
    }
    @else  {
        color: white;
    }
}


/* form search*/
.form-search{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: $color1;
    background: $color3;
    padding: 8px;
    border-radius: 4px;
}
.form-search label {
    margin-left: 4px;
}

.input-search-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end;
}

.form-search-input-text {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
}

.boton { 
    text-decoration: none;
    background-color: $color5;
    color: $color1;
    border: none;
    border-radius: 8px;
    padding: 0px 32px;
    height: 31px;
    margin-left: 8px;
}

.input-radio-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.input-radio-container:nth-child(3) {
    color: blue;
}

input[type="date"] {
    width: 185px;
    height: 28px;
}

@media (min-width:576px) {
    .galeria {
        max-width: 100%;
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
        outline: 3px solid red;
    
    }
}

@media only screen and (max-width: 600px) {
    .input-search-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items:flex-start;
    }
}

@media only screen and (max-width: 991px) {
    .input-search-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .boton { 
        margin-left: 0px;
        margin-top: 16px;
    }
    
}