.text-deco {
    text-decoration: underline;
}


.h3__ul--color {
    color: $color4;
}

p {
    text-align: center;
    span {
        color: $color3;
    }
}

// Ofertas
    
.anim-ofer{
    transition: 0.8s all ease;
}

.anim-ofer img {
    max-width: 100%;
    border-radius: 0.375em;

}

.anim-ofer:hover {
    transform: scale(1);
    transition: 0.8s all ease;
    box-shadow: 0rem 0em 0.3125em 0.0625em #373737;
    border-radius: 0.375em;
}

.anim-ofer a {
    text-decoration: none;
    color: $color2;
}

video {
    border-radius: 0.375em;
}

//informacion 

.info-Lista a{
    text-decoration: none;
    text-align: center;
    color: $color4;
}

// iconos

i {
    color: $color3;
    margin: 0.3125em;
    font-size: 1.25em;
}

i:hover {
    color: $color5;
}

// Input
button {
    padding: 10px;
    margin-top: 33px;
    margin-left: 2px;
}
.espacio {
    margin-left: 2px;
}
//Condicionales 

$color: #393E46;

.quienes-Somos {
    @if ($color == #393E46) {
        color: #393E46;
        font-family: $font;
        
    }
    @else if ($color == yellow) {
        color: yellow;
    }
}

$color: white;

.info-Lista {
    @if ($color == black) {
        color: black;
    }
    @else if ($color == blue) {
        color: blue;
    }
    @else  {
        color: white;
    }
}


