.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    grid-gap: 5px;
    
}
.imge {
    border-radius: 20px;
    width: 100%;
    height: 25rem;
    
    
}

.boxs {
    padding: 10px;
    background-size: cover;
    background-attachment: fixed;
    
    
}

a h3{
    text-align: center;
    color: $color3;
}


