.redes-sociales {
  margin: 1.5625em;
  text-align: center;
  color: var(--color4);
}

.redes-sociales {
  i {
    color: var(--color4);
    margin: 0.3125em;
    font-size: 1.25em;
  }
}

.redes-sociales i:hover {
  color: var(--color5);
}

.nav_i--color {
  i {
    color: var(--color6);
  }
}

.nav_i--color i:hover {
  color: var(--color5);
}
