.fon__let--est {
    font-family: italic;
    color: $color2;
}

.input-group {
    max-width: 100%;
    margin-bottom: 5%;
    padding-left: 35%;
    padding-right: 30%;
    margin: 0.625em 0em;
}

.sup__lis--funt {
    font-size: 1.125em;
    font-weight: lighter;
    strong{
        color: $color5; }
}

.fuen__subtitulo--rayado {
    font-weight: lighter;
    text-decoration: underline;
}


