* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
// Paleta colores 
    $color1: #EEEEEE;
    $color2: #393E46;
    $color3: #161E54;
    $color4: #fff;
    $color5: #FF5151;
    $color6: #88E0EF;
    $color7: #FF9B6A;

// Textos
    $font: 'Cantarell', sans-serif;
    $font2: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    $font3: 'Roboto', sans-serif;


body {
    background: $color1;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: $font2;
    color: $color2;
}

.header {
    object-fit: cover;
    width: 180px;
    height: 43px;
}

.navbar {
    background-color: $color3;
    font-family: $font3;
}
a {
    color: $color1;
    font-size: 14px;
}
a:hover{
    color: $color5;
}

ul {
    list-style-type: none;
}


video {
    width: 100%;
    height: 400px !important;
    object-fit: cover;
}

.text-deco1 {
    font-weight: bold;
    text-align: center;
}



//Media
@media only screen and (max-width: 18.75em) {
    .grid-padre { 
        color: $color2;
        background-color: crimson;
        font-size: 3.125em;
    }
}

@media only screen and (min-width: 36em) {
    .grid-padre {
        background-color: chocolate;
    }
}

@media only screen and (min-width: 75em) {
    .grid-padre {
        background-color: $color1;
        font-size: 3.75em;
    }
}




@import "_menu";
@import "_footer";
@import "_vuelos";
@import "_exclusivo";
@import "_ofertas";
@import "_destinos";
@import "_soporte";
@import "_redes";
@import "_blog";
@import "_login";
@import "_contacta";
@import "_metodospago";

