* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #EEEEEE;
  letter-spacing: 0.03em;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #393E46;
}

.header {
  -o-object-fit: cover;
     object-fit: cover;
  width: 180px;
  height: 43px;
  margin-right: 15px;
}

.navbar {
  background-color: #161E54;
  font-family: "Roboto", sans-serif;
}

a {
  color: #EEEEEE;
  font-size: 14px;
}

a:hover {
  color: #FF5151;
}

.nav-item {
  margin-right: 10px;
}

ul {
  list-style-type: none;
}

video {
  width: 100%;
  height: 400px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-deco1 {
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 18.75em) {
  .grid-padre {
    color: #393E46;
    background-color: crimson;
    font-size: 3.125em;
  }
}

@media only screen and (min-width: 36em) {
  .grid-padre {
    background-color: chocolate;
  }
}

@media only screen and (min-width: 75em) {
  .grid-padre {
    background-color: #EEEEEE;
    font-size: 3.75em;
  }
}

.text-deco {
  text-decoration: underline;
}

.container1 {
  height: 100vh;
}

.h3__ul--color {
  color: #fff;
}

p {
  text-align: center;
}

p span {
  color: #fff;
}

.anim-ofer {
  -webkit-transition: 0.8s all ease;
  transition: 0.8s all ease;
}

.anim-ofer img {
  max-width: 100%;
  border-radius: 0.375em;
  height: 25rem;
}

.anim-ofer:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.8s all ease;
  transition: 0.8s all ease;
  -webkit-box-shadow: 0rem 0em 0.3125em 0.0625em #373737;
          box-shadow: 0rem 0em 0.3125em 0.0625em #373737;
  border-radius: 0.375em;
}

.anim-ofer a {
  text-decoration: none;
  color: #393E46;
}

video {
  border-radius: 0.375em;
}

.info-Lista a {
  text-decoration: none;
  text-align: center;
  color: #fff;
}

i {
  color: #161E54;
  margin: 0.3125em;
  font-size: 1.25em;
}

i:hover {
  color: #FF5151;
}

.button1 {
  font-family: "Roboto", sans-serif;
  margin-top: 43px;
  margin-left: 2px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-primary {
  border: none;
  background-color: #FF5151;
  color: #EEEEEE;
}

.btn-primary:hover {
  background-color: #EEEEEE;
  color: #FF5151;
}

.espacio {
  background-color: #161E54;
  color: #EEEEEE;
  border: 1px solid #88E0EF;
  border-radius: 8px;
  -webkit-box-shadow: 0rem 0em 0.3125em 0.0625em #393E46;
          box-shadow: 0rem 0em 0.3125em 0.0625em #393E46;
  font-family: "Roboto", sans-serif;
}

label {
  margin-top: 10px;
  margin-right: 10px;
}

.quienes-Somos {
  color: #393E46;
  font-family: "Cantarell", sans-serif;
}

.info-Lista {
  color: white;
}

/* form search*/
.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form-search-input-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  background-color: #161E54;
  width: 100%;
}

.carousel-inner img {
  background-position: center;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.check {
  display: inline-block;
  border: 0.0625em solid #161E54;
  border-radius: 0.5em;
  -webkit-box-shadow: 0rem 0em 0.3125em 0.0625em #393E46;
          box-shadow: 0rem 0em 0.3125em 0.0625em #393E46;
  background-color: #161E54;
  color: #EEEEEE;
  padding: 0.9375em;
  margin: 1.875em;
  text-align: justify;
}

.btn-outline-dark {
  border: none;
  background-color: #FF5151;
  color: #EEEEEE;
}

.btn-outline-dark:hover {
  color: #FF5151;
  background-color: #EEEEEE;
}

.grid-padre2 {
  background-color: #EEEEEE;
  height: auto;
  width: 80%;
  margin: auto;
  padding: 2%;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      grid-template-areas: "lobby lobby2";
}

.lobby {
  grid-area: "lobby";
  background-color: coral;
  background-image: url(../img/lobby.jpg);
  background-size: cover;
}

.lobby2 {
  grid-area: "lobby2";
  background-image: url(../img/lobby2.jpg);
  background-size: cover;
}

.box {
  min-height: 18.75rem;
  min-width: 12.5rem;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 5px;
}

.imge {
  border-radius: 20px;
  width: 100%;
  height: 25rem;
}

.boxs {
  padding: 10px;
  background-size: cover;
  background-attachment: fixed;
}

a h3 {
  text-align: center;
  color: #161E54;
}

.flex-padre2 {
  width: 70%;
  max-width: 75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  background-color: #EEEEEE;
}

.flex-colum2 {
  margin: 1.25em;
  border-radius: 20%;
  overflow: hidden;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 6.25em;
  -webkit-box-shadow: 0 0.625em 0.625em rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.625em 0.625em rgba(0, 0, 0, 0.5);
}

.flex-colum2 img {
  background-size: cover;
  width: 18.75em;
  height: 25rem;
}

.flex-colum2 a {
  text-decoration: none;
  color: #393E46;
}

.flex-colum2:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-box-shadow: 0rem 0em 0.3125em 0.0625em #393E46;
          box-shadow: 0rem 0em 0.3125em 0.0625em #393E46;
}

.flex-colum2:hover a {
  color: #FF5151;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.fon__let--est {
  font-family: italic;
  color: #393E46;
}

.sup__lis--funt {
  font-size: 1.125em;
  font-weight: lighter;
}

.sup__lis--funt strong {
  color: #FF5151;
  font-weight: bold;
}

.fuen__subtitulo--rayado {
  font-weight: lighter;
  text-decoration: underline;
}

.card1 {
  border: none;
  background: #161E54;
}

.card {
  border: none;
  background: #FF5151;
}

.search {
  width: 100%;
  margin-bottom: auto;
  margin-top: 20px;
  height: 50px;
  background-color: #EEEEEE;
  padding: 10px;
  border-radius: 5px;
}

.search-input {
  color: #161E54;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 20px;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  font-size: 19px;
  font-weight: 300;
  color: #161E54;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

.search-icon {
  height: 34px;
  width: 34px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #161E54;
  background-color: #FF5151;
  font-size: 10px;
  bottom: 30px;
  position: relative;
  border-radius: 5px;
}

a:link {
  text-decoration: none;
}

.redes-sociales {
  margin: 1.5625em;
  text-align: center;
  color: #fff;
}

.redes-sociales i {
  color: #fff;
  margin: 0.3125em;
  font-size: 1.25em;
}

.redes-sociales i:hover {
  color: #FF5151;
}

.nav_i--color i {
  color: #88E0EF;
}

.nav_i--color i:hover {
  color: #FF5151;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1040px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  margin: 10px;
  background-color: #EEEEEE;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}

.card-header .imag {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #EEEEEE;
  border-radius: 50px;
  font-size: 12px;
  margin: 2px;
  color: #161E54;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.tag-cyan {
  background-color: #88E0EF;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
}

.user .imag {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #FF5151;
}

p {
  color: #393E46;
}

h5 {
  color: black;
}

.titulo-Carta {
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
}

.titulo-Carta1 {
  font-size: 2em;
}

.titulo-Carta2 {
  font-size: 4em;
}

.titulo-Carta3 {
  font-size: 6em;
}

.titulo-Carta4 {
  font-size: 8em;
}

.youtube {
  color: #D16E8D;
  font-weight: bold;
}

.articulos {
  color: #FFAC83;
  font-weight: bold;
}

.comunidad {
  color: #3F78C9;
  font-weight: bold;
}

.gente {
  color: #49C4A3;
  font-weight: bold;
}

.viajes {
  color: #222831;
  font-weight: bold;
}

.fondo_login {
  background-image: url(../img/carousel3.jpg);
  background-size: cover;
}

h1 h2 {
  font-family: "Roboto", sans-serif;
}

.center {
  position: absolute;
  top: 35%;
  left: 35%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  width: 400px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 7px 13px 37px #000;
          box-shadow: 7px 13px 37px #000;
}

.center h2 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form .text_field {
  position: relative;
  border-bottom: 2px solid #88E0EF;
  margin: 30px 0;
}

.text_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.text_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #161E54;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.text_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0%;
  width: 0%;
  height: 2px;
  background: #FF5151;
  -webkit-transition: .5s;
  transition: .5s;
}

.text_field input:focus ~ label,
.text_field input:valid ~ label {
  top: -5px;
  color: #393E46;
}

.text_field input:focus ~ span::before,
.text_field input:valid ~ span::before {
  width: 100%;
}

.contra {
  margin: -5px 0 20px 5px;
  color: #393E46;
  cursor: pointer;
}

.contra:hover {
  text-decoration: underline;
}

input[type="button"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #FF5151;
  border-radius: 25px;
  font-size: 18px;
  color: #EEEEEE;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

input[type="button"]:hover {
  border-color: #FF5151;
  -webkit-transition: .5s;
  transition: .5s;
}

.ingresar_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #393E46;
}

.ingresar_link a {
  color: #2691d9;
  text-decoration: none;
}

.ingresar_link a:hover {
  text-decoration: underline;
}

.wrapper {
  height: 100vh;
  background: #EEEEEE;
  width: 100%;
}

.overlay {
  width: 100%;
  height: 100vh;
  background: #EEEEEE;
}

.contactos-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-form h3,
p {
  color: #393E46;
}

.informacion-1 {
  margin-top: 14px !important;
  margin-left: 10px;
}

.informacion-1 span {
  color: #161E54;
}

.icons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FF5151 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons i {
  font-size: 20px;
}

.formus {
  padding: 20px;
}

.input_s input {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #EEEEEE;
}

.input_s input:focus {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #FF5151;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input_s textarea {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #EEEEEE;
  width: 100%;
  resize: none;
}

.input_s textarea:focus {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #FF5151 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  resize: none;
}

.form-control {
  padding: .375rem .25rem;
}

.card-2 {
  border: none;
  background: #161E54;
}

.form-control {
  border-bottom: 2px solid #EEEEEE !important;
  border: none;
  font-weight: 500;
}

.form-control:focus {
  color: #393E46;
  background-color: #fff;
  border-color: #88E0EF;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
  border-bottom: 2px solid #FF5151 !important;
}

.inputbox {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.inputbox span {
  position: absolute;
  top: 12px;
  left: 11px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.inputbox i {
  position: relative;
  top: 10px;
  right: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #88E0EF;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputbox input:focus ~ span {
  -webkit-transform: translateX(0px) translateY(-15px);
          transform: translateX(0px) translateY(-15px);
  font-size: 12px;
}

.inputbox input:valid ~ span {
  -webkit-transform: translateX(0px) translateY(-15px);
          transform: translateX(0px) translateY(-15px);
  font-size: 12px;
}

.card-blue {
  background-color: #161E54;
}

.hightlight {
  background-color: #FF5151;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 14px;
}

.cyan {
  color: #88E0EF;
}

.decoration {
  text-decoration: none;
  font-size: 14px;
}

.btn-success {
  color: #fff;
  background-color: #FF5151;
  border-color: #FF5151;
  margin-top: 2px;
}

.btn-success:hover {
  color: #fff;
  background-color: #FF5151;
  border-color: #FF5151;
}

.decoration:hover {
  text-decoration: none;
  color: #FF5151;
}

.text-uppercase {
  color: #EEEEEE;
}
/*# sourceMappingURL=estilo.css.map */